<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Application</title>
    <link rel="stylesheet"
          th:href="@{/css/dashboardstyle.css}"/>
</head>
<body>
<header>
    <h1>My Blog Application</h1>
    <div class="header-right">
        <input type="text" placeholder="Search">
        <select>
            <option>Filter</option>
        </select>
        <select>
            <option>Sort</option>
        </select>
        <a href="#">Login</a>
    </div>
</header>

<main>
    <div class="blog-container">

            <div th:each="post: ${postList}" class="blog-card">

                <form th:action="@{/editpost}"
                      th:object="${post}"
                      method="get">
                    <input type="hidden" th:field="${post.id}"/>
                    <h2 th:text="${post.title}"> Post Title </h2>
                <!--
                <p class="author" th:text="${post.author.name}"> Author </p>
                -->
                    <p th:text="${post.createdAt}"> createdAt </p>
                    <p th:text="${post.content}"> content </p>
                    <button/>
                </form>
            </div>


    </div>
</main>

<footer>
    <a href="#">Previous</a>
    <a href="#">Next</a>
</footer>
</body>
</html>
