<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New/Edit Post</title>
    <link rel="stylesheet"
          th:href="@{/css/newpoststyle.css}" />
</head>
<body>
<div class="container">

    <form th:action="@{'/comment/edit/' + ${comment.id}}"
          th:object="${comment}"
          method="POST">

        <h1>Edit comment</h1>
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{name}" placeholder="User">
        <textarea th:field="*{commentText}" placeholder="Enter your content here..."></textarea>
        <button>Publish</button>
    </form>
</div>
</body>
</html>

