<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet"
        th:href="@{/css/loginForm.css}"/>
</head>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>

<div class="container">
  <h2>Login</h2>
  <form th:action="@{/authenticateTheUser}" th:method="post">
    <div th:if="${param.error}">
      <i class="failed">Sorry! You entered invalid username/password.</i>
    </div>
    <div th:if="${param.logout}">
      <i class="logout">You have logged out successfully</i>
    </div>
    <input th:type="text" th:name="username" placeholder="Email" required>
    <input th:type="password" th:name="password" placeholder="Password" required>
    <button th:type="submit">Submit</button>
  </form>
  <p class="register-link">Doesn't have an account? <a th:href="@{/signup}">Create one</a></p>
</div>

</body>
</html>
