<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Application</title>
    <link rel="stylesheet"
          th:href="@{/css/paginatedDashboard.css}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<header>
    <h1><a th:href="@{/}" class="blog-title">My Blog Application</a></h1>
    <div class="header-right">
        <div class="header-buttons">
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="login-btn">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <input th:type="submit" th:value="Logout" class="logout-btn" onclick="return confirm('Are you sure?');"/>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/newpost}" class="newpost-btn">Create New Post</a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="filter-section">
        <form th:method="get" th:action="@{/}" th:onsubmit="removeEmptyFields(this)">
            <div class="tags">
                <h3>Tags</h3>
                <div th:each="tag : ${tagList}">
                        <input type="checkbox"
                               th:name="tagId"
                               th:value="${tag.id}"
                               th:checked="${tagId != null and tagId.contains(tag.id)}">
                        <label th:for="${tag}" th:text="${tag.name}"></label>
                </div>
            </div>
            <div class="author">
                <h3>Authors</h3>
                <div th:each="user : ${userList}">
                    <input type="checkbox"
                           th:name="authorId"
                           th:value="${user.id}"
                           th:checked="${authorId != null and authorId.contains(user.id)}">
                    <label th:for="${user}" th:text="${user.name}"></label>
                </div>
            </div>
            <div class="search">
                <h3>Search</h3>
                <input type="text" th:name="search" placeholder="Search..." th:value="${search}">

            </div>
            <div class="date-filter">
                <h3>Select Date Range</h3>
                <label th:for="startDate">From:</label>
                <input type="datetime-local" th:id="startDate" th:name="startDate" class="datepicker" th:value="${startDate}">
                <br>
                <label th:for="endDate">To:</label>
                <input type="datetime-local" th:id="endDate" th:name="endDate" class="datepicker" th:value="${endDate}">
            </div>
            <div class="sorting">
                <h3>Sort By</h3>
                <select th:name="sortBy">
                    <option th:value="createdAt" th:selected="${sortBy == 'createdAt'}">Date</option>
                    <option th:value="title" th:selected="${sortBy == 'title'}">Title</option>
                </select>
                <select th:name="sortOrder">
                    <option th:value="desc" th:selected="${sortOrder == 'desc'}">Descending</option>
                    <option th:value="asc" th:selected="${sortOrder == 'asc'}">Ascending</option>
                </select>
            </div>
            <button type="submit">Apply</button>
        </form>
    </div>

    <div class="content-container">

    <div class="blog-container">

        <div  th:each="post : ${postList}" class="blog-card">
            <a style="color:black" th:href="@{'/post/'+ ${post.id}}">
                    <h2 th:text="${post.title}"> Post Title </h2>
                    <p class="author" th:text="${post.author.name}"> Author </p>
                <div class="tags-container">
                    <span class="tag" th:each="tag : ${post.tags}" th:text="${tag.name}">Tag</span>
                </div>

                    <p th:text="${post.createdAt}"> createdAt </p>
                    <p th:text="${post.excerpt}"> content </p>
            </a>
        </div>
    </div>
    </div>
</main>

<footer>

    <div th:if="${totalPages > 1 }" >
        <div>
            <a th:if="${currentPage > 1}" th:href="@{/(start=${currentPage - 1}, limit=${limit},
                          tagId=${tagId}, authorId=${authorId}, search=${search},
                          startDate=${startDate}, endDate=${endDate},
                          sortBy=${sortBy}, sortOrder=${sortOrder})}">Previous</a>
            <span th:if="${currentPage == 1}" style="color:gray;">Previous</span>
        </div>
        <div>
            <a th:if="${currentPage < totalPages}" th:href="@{/(start=${currentPage + 1}, limit=${limit},
                          tagId=${tagId}, authorId=${authorId}, search=${search},
                          startDate=${startDate}, endDate=${endDate},
                          sortBy=${sortBy}, sortOrder=${sortOrder})}">Next</a>
            <span th:if="${currentPage == totalPages}" style="color:gray;">Next</span>
        </div>
    </div>

</footer>

<script>
    function removeEmptyFields(form) {
    let inputs = form.querySelectorAll("input, select");

    inputs.forEach(input => {
        if (!input.value.trim()) {
            input.removeAttribute("name");
        }
       });
    }

</script>
</body>
</html>
